body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.login-btn{
        
        width:200px;
    }

/* Шапка */
header {
    background-color: #3498db;
    color: white;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;  /* Добавлено для того, чтобы шапка заполняла всю ширину */
    box-sizing: border-box;
}

header p {
    font-weight: 700;
    font-size: 24px;
    margin: 0;
}

header a {
    display: inline-block;
    width: 90px;
    background: #2b7aaf;
    padding: 14px;
    text-align: center;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
    margin: 10px;
    
}

header a:hover {
    background-color: #1c567c;
    transition: 0.3s;
}
.index-btn{
    text-decoration: none;
    background-color: #3498db;
    width: 310px;
}
.index-btn:hover{
    background-color: #3498db;
}

/* Подвал */
footer {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 20px 30px;
    width: 100%;  /* Обеспечиваем, что футер занимает всю ширину */
    box-sizing: border-box;
    position: relative;
    margin-top: auto; /* Обеспечиваем, чтобы футер всегда был внизу страницы */
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

/* Main Content */
main {
    padding: 20px;
}

.tree-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.generation, .childrens, .spouses {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content:center;
}


.person {
    width: 200px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.person .photo {
    width: 100%;
    border-radius: 8px;
    height: 200px;
    background-size: contain;
    max-width: max-content;
    max-height: max-content;
}

.person .name {
    font-weight: bold;
    margin-top: 10px;
}

.person .details-btn {
    display: block;
    margin-top: 10px;
    padding: 12px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 18px;
    transition: background-color 0.3s;
}

.person .details-btn:hover {
    background-color: #2b7aaf;
}
.search_warper{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
}
.search{
    border: none;
    border-radius: 10px;
    min-width: 200px;
    height: 100%;
    padding: 10px;
    width: 80%;
    margin-left: 20px;
}
.search-btn{
    width:35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    margin-left:20px ;
    background-image: url("./images/search.png");
    background-size: contain;

}



/* Responsive Styles */
@media (max-width: 768px) {
    .generation {
        flex-direction: column;
        justify-content:unset;
    }

    .person {
        width: 100%;
    }

    header .index-btn p {
        font-size: 20px;
    }
    .search{
        width: 150px;
    }
    
    
}

@media (max-width: 480px) {
    .login-btn{
        margin-left: calc(50% - 114px);
        width:200px;
    }
    .index-btn{
        margin-left:calc(50% - 170px);
    }
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .generation {
        flex-direction: column;
        justify-content:unset;
    }

    .person {
        width: 100%;
    }
    .search{
        width: 100px;
    }
}
